### Combining the predictions from ARIMA and Neural net LSTM with actual values for later use in Bokeh PLotting

In [1]:
import pandas as pd
import numpy as np
from datetime import date
bitcoin =pd.read_csv('bitcoin.csv').drop('Unnamed: 0',axis=1)
#bitcoin['Date'] = pd.to_datetime(bitcoin['Date'])
#bitcoin.set_index('Date',inplace=True)
ethereum = pd.read_csv('ethereum.csv').drop('Unnamed: 0',axis=1)
#ethereum['Date'] = pd.to_datetime(ethereum['Date'])
#ethereum.set_index('Date',inplace=True)

In [2]:
bit_ARIMA = pd.read_csv('bitcoin_ARIMA_predictions_RMSE_3.898537928223503.csv')
bit_NN = pd.read_csv('bitcoin_NN_predictions_RMSE_48.9569017323066.csv')
eth_ARIMA = pd.read_csv('ethereum_ARIMA_predictions_RMSE_1.809057919412035.csv')
eth_NN = pd.read_csv('ethereum_NN_predictions_RMSE_3.3564706899941665.csv')

In [3]:
btc_pred = pd.merge(bit_ARIMA[['Date','Predicted with ARIMA']],bit_NN[['Date','Predicted with Neural Nets']],on='Date')
bit_prices = bitcoin.loc[bitcoin.index[-14:]]
bitcoin_data = pd.merge(bit_prices,btc_pred,on='Date',how='outer')
bitcoin_data[['Price','Predicted with ARIMA','Predicted with Neural Nets']] = bitcoin_data[['Price','Predicted with ARIMA','Predicted with Neural Nets']].apply(lambda x: round(x,2))
bitcoin_data.to_csv('bitcoin_data_to_plot.csv')
bitcoin_data

          Date    Price  Predicted with ARIMA  Predicted with Neural Nets
0   2017-08-16  4278.92                   NaN                         NaN
1   2017-08-17  4105.37                   NaN                         NaN
2   2017-08-18  4150.45                   NaN                         NaN
3   2017-08-19  4066.60                   NaN                         NaN
4   2017-08-20  4005.10                   NaN                         NaN
5   2017-08-21  4089.70                   NaN                         NaN
6   2017-08-22  4141.09                   NaN                         NaN
7   2017-08-23  4318.35               4321.92                     4345.26
8   2017-08-24  4364.41               4368.25                     4440.40
9   2017-08-25  4352.30               4356.23                     4408.67
10  2017-08-26  4345.75               4349.69                     4380.39
11  2017-08-27  4390.31               4394.20                     4422.22
12  2017-08-28  4597.31               4601.04                     4638.80
13  2017-08-29  4583.02               4587.37                     4639.24

In [4]:
eth_pred = pd.merge(eth_ARIMA[['Date','Predicted with ARIMA']],eth_NN[['Date','Predicted with Neural Nets']],on='Date')
eth_prices = ethereum.loc[ethereum.index[-14:]]
ethereum_data = pd.merge(eth_prices,eth_pred,on='Date',how='outer')
ethereum_data[['Price','Predicted with ARIMA','Predicted with Neural Nets']] = ethereum_data[['Price','Predicted with ARIMA','Predicted with Neural Nets']].apply(lambda x: round(x,2))
ethereum_data.to_csv('ethereum_data_to_plot.csv')
ethereum_data

          Date   Price  Predicted with ARIMA  Predicted with Neural Nets
0   2017-08-16  300.30                   NaN                         NaN
1   2017-08-17  292.62                   NaN                         NaN
2   2017-08-18  293.02                   NaN                         NaN
3   2017-08-19  298.20                   NaN                         NaN
4   2017-08-20  321.85                   NaN                         NaN
5   2017-08-21  313.37                   NaN                         NaN
6   2017-08-22  317.40                   NaN                         NaN
7   2017-08-23  325.28                327.39                      325.36
8   2017-08-24  330.06                331.70                      325.76
9   2017-08-25  332.86                334.69                      334.74
10  2017-08-26  347.88                350.00                      352.49
11  2017-08-27  347.66                348.96                      350.64
12  2017-08-28  372.35                374.69                      373.62
13  2017-08-29  383.86                384.72                      388.87